@import "components/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px;
    line-height: 80px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
    line-height: 103px;
  }
}

h1 {
  z-index: 20;
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #DC6738;
  margin: 0;
}

h2 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 70.7951px;
  line-height: 103px;
  text-align: center;
  color: #DC6738;
  margin: 0;
}

h3 {
  color: #A14C2A;
  font-family: 'Raleway';
  font-size: 17.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h5 {
  color: #DC6738;
  font-family: Shrikhand;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
