@media (max-width: 480px) {
  .cinema {
    width: 150%;
    overflow: hidden;
    top: 100vh;
  }
}

@media (min-width: 481px) {
  .cinema {
    width: 43%;
    top: 63%;
  }
}

.cinema {
  position: absolute;
  z-index: 12;
}
