@media (max-width: 480px) {
  .cinema {
    width: 150%;
    overflow: hidden;
    top: 100vh;
  }
}

@media (min-width: 481px) {
  .cinema {
    width: 55%;
    top: 85%;
    animation-name: shift-up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  @keyframes shift-up {
    from{ transform: translateY(85%)} to{transform: translateY(-50%);}
  }

}

.cinema {
  position: absolute;
  z-index: 12;
}
