.films-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 50px 100px;
}

.film-box {
  display: flex;
  flex-direction: column;
  width: 341px;
  height: 370px;
  border-radius: 20.307px;
  border: 7px solid #A14C2A;
  padding: 21px 25px;
}

.film-image {
  width: 100%;
  height: 244px;
  border-radius: 12px;
  margin: 0 auto;
  object-fit: cover;
}

.film-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-icon {
  width: 29px;
  height: 29px;
  margin-right: 10px;
}
