@media (max-width: 480px) {
  .grass-dark, .grass-light, .chorleywood {
    display: none;
  }
}

@media (min-width: 481px) {
  .grass-dark {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
  }
  .grass-light {
    position: absolute;
    width: 60%;
    bottom: 20%;
    right: 0;
  }

  .chorleywood {
    width: 30%;
    left: 3%;
    position: absolute;
    top: 52%;
    z-index: 11;
  }
}
