@media (max-width: 480px) {
  .hero-title {
    width: 90%;
  }
  .films-text {
    font-size: 80px;
  }
}

@media (min-width: 768px) {
  .films-text {
    font-size: 120px;
  }
}

.hero-banner {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hero-title {
  position: absolute;
  z-index: 22;
  top: 5%;
}
