@media (max-width: 480px) {
  .josh-hero {
    width: 120%;
    top: 50%;
    overflow: hidden;
  }
}

@media (min-width: 481px) {
  .josh-hero {
    width: 30%;
    top: 82%;
    animation-name: josh-shift-up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes josh-shift-up {
    from{ transform: translateY(82%)} to{transform: translateY(-120%);}
  }
}

.josh-hero {
  position: absolute;
  z-index: 11;
  // width: 25rem;
  // top: 16rem;
}
