.navbar {
  transform: translateY(-130%);
  transition: transform 0.3s;
}

.navbar.show {
  transform: translateY(0);
}

.navlink {
  font-weight: 500;
  font-size: x-large;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.navlink:hover {
  color: #DC6738;
  text-decoration: none;
}
