@media (max-width: 480px) {
  .palms {
    display: none;
  }
}

@media (min-width: 481px) {
  .palms {
    left: 78%;
    width: 25%;
    top: 5%;
    left: 125%;
    position: absolute;
    z-index: 2;
    animation-name: palms-shift-left;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes palms-shift-left {
    from{ transform: translateX(125%)} to{transform: translate(-180%);}
  }
}


.palms {

  // top: 10rem;
  // left: 75rem;
  // width: 18rem;
}
