@media (max-width: 480px) {
  .suns {
    overflow: hidden;
    top: 2%;
  }
}

@media (min-width: 481px) {
  .suns {
    top: 80%;
    animation-name: sun-shift-up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
  }
  @keyframes sun-shift-up {
    from{ transform: translateY(80%)} to{transform: translateY(-146%);}
  }
}

.suns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-centre {
  position: absolute;
  z-index: 10;
  width: 24rem;
  height: 24rem;
  background: #FFE66C;
  border-radius: 50%;
}

.sun-middle {
  position: absolute;
  z-index: 9;
  width: 27rem;
  height: 27rem;
  background: #FFE66C;
  border-radius: 50%;
}

.sun-outer {
  z-index: 8;
  width: 30rem;
  height: 30rem;
  background: #F3D959;
  border: 4px solid #6C331C;
  border-radius: 50%;
}
